:root {
  --bl: #111827;
  --c1: #7C3AED;
  --c2: #C026D3; 
  --shadow: 0 0 5px #fff,
            0 0 15px #fff,
            0 0 30px var(--c1),
            0 0 45px var(--c1),
            0 0 70px var(--c1),
            0 0 100px var(--c1),
            0 0 150px var(--c1);
  --shadow2: 0 0 5px #fff,
            0 0 20px #fff,
            0 0 15px var(--c2),
            0 0 45px var(--c2),
            0 0 70px var(--c2),
            0 0 100px var(--c2),
            0 0 150px var(--c2);
}

@font-face {
  font-family: movement;
  src: url('fonts/MovementV.ttf');
}

body {
  font-family: movement; 
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center; 
  overflow: hidden;
  background: var(--bl); 
}

h1 {
  font-size: calc(1rem + 3vw); 
  animation-name: change; 
  animation-duration: 2s; 
  animation-direction: alternate; 
  animation-iteration-count: infinite; 
  color: #fff;
  letter-spacing: 5px; 
  text-shadow: var(--shadow); 
} 

@keyframes change {
	0% {
    font-variation-settings: "wght" 100, "SPAC" 100;
    text-shadow: var(--shadow);
  }

	100% {
    font-variation-settings: "wght" 200, "SPAC" 120;
    text-shadow: var(--shadow2);
  }
}